{{ define "main" }}
<article class="border rounded p-3 position-relative mt-4 p-4">
  <div class="header border-bottom mb-3">
    <h1 style="font-size: 2.5em;">
			<img src='{{ $.Param "background" }}' class='mb-3'/>
      {{ .Title }}
			{{ if eq .Title "International" }}
				<a href="https://dblp.org/pid/60/10773.html" target="_blank">
					<span class="px-2 py-1 bg-dark rounded border"
						style="font-size: 12pt; display: inline-block">DBLP</span>
				</a>

				<a href="https://scholar.google.co.jp/citations?user=j4n_V44AAAAJ&hl=en" target="_blank">
					<span class="px-2 py-1 bg-dark rounded border"
						style="font-size: 12pt; display: inline-block">Google Scholar</span>
				</a>

				<a href="http://dl.acm.org/author_page.cfm?id=81490688053&cfid=766658899&cftoken=59914711" target="_blank">
					<span class="px-2 py-1 bg-dark rounded border"
						style="font-size: 12pt; display: inline-block">ACM</span>
				</a>

				<a href="https://ieeexplore.ieee.org/author/37085586176" target="_blank">
					<span class="px-2 py-1 bg-dark rounded border"
						style="font-size: 12pt; display: inline-block">IEEE</span>
				</a>

				<a href="https://aclanthology.org/people/t/takahiro-komamizu/" target="_blank">
					<span class="px-2 py-1 bg-dark rounded border"
						style="font-size: 12pt; display: inline-block">ACL Anth.</span>
				</a>

				<a href="https://orcid.org/0000-0002-3041-4330" target="_blank">
					<span class="px-2 py-1 bg-dark rounded border"
						style="font-size: 12pt; display: inline-block">ORCID</span>
				</a>


			{{ else if eq .Title "Domestic" }}

				<a href="https://cir.nii.ac.jp/all?q=%E9%A7%92%E6%B0%B4+%E5%AD%9D%E8%A3%95+%7C+Takahiro+Komamizu&count=20&sortorder=0" target="_blank">
					<span class="px-2 py-1 bg-dark rounded border"
						style="font-size: 12pt; display: inline-block">CiNII</span>
				</a>
			{{ end }}
    </h1>

    <div
    class="mb-1 mr-3 pl-1 pr-1 rounded bg-dark"
    style="position: absolute; top: -19px; font-size: 0.9em;"
 	 >
 	   <span
 	     class="more"
 	     style="font-size: 1.5em;"
 	   >
 	     &#43;
 	     &#43;
 	     &#43;
 	   </span>
 	 </div>

  </div>
  <div class="article pb-3">
    {{ .Content }}
  </div>
</article>
{{ end }}
