<footer>
  <div class="w-50 bg-danger ml-auto mr-auto mt-4" style="height: 2px;"></div>
  <div class="mt-4 mb-2" style="font-size: 0.9em;">
    <p class="text-center">
			Copyright &#169; Takahiro Komamizu 2020. All Rights Reserved.
    </p>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="{{ `js/mero.js` | relURL }}"></script>
