<head>
  <title>{{ .Site.Title }}</title>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ `favicon-32x32.png` | relURL }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ `favicon-16x16.png` | relURL }}">
  <meta name="description" content="{{ .Site.Params.description }}" />
  <meta name="author" content="{{ .Site.Params.author }}" />

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ `css/mero.css` | relURL }}" />

  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Overlock|Roboto+Mono&display=swap"
    rel="stylesheet"
  />
</head>
