<nav class="mb-3 mt-3 ml-1">
  <div class="d-flex flex-row">
    <div class="border border-warning bg-dark rounded-left">
      <a href="/"><button class='btn btn-dark text-warning'>Home</button></a>
    </div>

    <div class="dropdown border border-warning bg-dark">
      <button type='button'
				class="btn btn-dark dropdown-toggle text-warning"
				data-bs-toggle='dropdown'
				aria-expanded="false"
				id='research_menu'>
				Researches
			</button>

      <ul
        class="dropdown-menu p-2 bg-dark mt-2 rounded w-auto mt-1"
				aria-labelledby="research_menu"
      >
      	<li><a class='dropdown-item' href="/researches">Overview</a></li>
      	<li><a class='dropdown-item' href="/mlod">Hetero LOD Management</a></li>
      	<li><a class='dropdown-item' href="/imbalance">Imbalanced Classification</a></li>
      	<li><a class='dropdown-item' href="/legal">Legal Data Management</a></li>
      	<li><a class='dropdown-item' href="/faceted">Faceted Search</a></li>
      </ul>
    </div>

    <div class="dropdown border border-warning bg-dark">
      <button type='button'
				class="btn btn-dark dropdown-toggle text-warning"
				data-bs-toggle='dropdown'
				aria-expanded="false"
				id='publication_menu'>
				Publications
			</button>

      <ul
        class="dropdown-menu p-2 bg-dark mt-2 rounded w-auto mt-1"
				aria-labelledby="publication_menu"
      >
        <li><a class='dropdown-item' href="/international">International</a></li>
        <li><a class='dropdown-item' href="/domestic">Domestic</a></li>
        <li><a class='dropdown-item' href="/awards">Awards</a></li>
      </ul>
    </div>

    <div class="dropdown border border-warning bg-dark">
      <button type='button'
				class="btn btn-dark dropdown-toggle text-warning"
				data-bs-toggle='dropdown'
				aria-expanded="false"
				id='activity_menu'>
				Activities
			</button>

      <ul
        class="dropdown-menu p-2 bg-dark mt-2 rounded w-auto mt-1"
				aria-labelledby="activity_menu"
      >
        <li><a class='dropdown-item' href="/academic">Academic</a></li>
        <li><a class='dropdown-item' href="/grants">Grants</a></li>
        <li><a class='dropdown-item' href="/teaching">Teaching</a></li>
        <li><a class='dropdown-item' href="/supervision">Supervision</a></li>
        <li><a class='dropdown-item' href="/design">Design</a></li>
      </ul>
    </div>

  </div>
</nav>
