<nav class="mb-3 mt-3 ml-1">
  <div class="d-flex flex-row">
    <div
      class="menu-item border border-warning bg-dark p-2"
      style="border-top-left-radius: 10px; border-bottom-left-radius: 10px;"
    >
      <a href="/"><span>Home</span> </a>
    </div>

    <div class="menu-item dropdown border border-warning bg-dark p-2">
      <span class="dropbtn text-warning" onclick="toggleMenu(this)">
				Researches
				<i class="fas fa-angle-down"></i>
			</span>
      <div
        class="dropdown-content p-2 bg-dark2 mt-2 rounded w-auto mt-1 d-none"
        style="min-width: 200px;"
      >
        <ul class="list-unstyled">
          <li class="pt-2">
            <a href="/researches">Overview</a>
          </li>
          <li class="pt-2">
            <a href="/mlod">Hetero LOD Management</a>
          </li>
          <li class="pt-2">
            <a href="/imbalance">Imbalanced Classification</a>
          </li>
          <li class="pt-2">
            <a href="/legal">Legal Data Management</a>
          </li>
          <li class="pt-2">
            <a href="/lod">Search on LOD</a>
          </li>
          <li class="pt-2">
            <a href="/faceted">Faceted Search</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="menu-item dropdown border border-warning bg-dark p-2">
      <span class="dropbtn text-warning" onclick="toggleMenu(this)">
				Publications
				<i class="fas fa-angle-down"></i>
			</span>
      <div
        class="dropdown-content p-2 bg-dark2 mt-2 rounded w-auto mt-1 d-none"
        style="min-width: 200px;"
      >
        <ul class="list-unstyled">
          <li class="pt-2">
            <a href="/international">International</a>
          </li>
          <li class="pt-2">
            <a href="/domestic">Domestic</a>
          </li>
          <li class="pt-2">
      			<a href="/awards">Awards</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="menu-item border border-warning bg-dark p-2"
    style="border-top-right-radius: 10px; border-bottom-right-radius: 10px;">
      <span class="dropbtn text-warning" onclick="toggleMenu(this)">
				Activities
				<i class="fas fa-angle-down"></i>
			</span>
      <div
        class="dropdown-content p-2 bg-dark2 mt-2 rounded w-auto mt-1 d-none"
        style="min-width: 200px;"
      >
        <ul class="list-unstyled">
          <li class="pt-2">
            <a href="/academic">Academic</a>
          </li>
          <li class="pt-2">
      			<a href="/grants">Grants</a>
          </li>
          <li class="pt-2">
            <a href="/teaching">Teaching</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</nav>
