{{ define "main" }}
<article class="border rounded p-3 position-relative mt-4 p-4">

<div class="header border-bottom mb-3">
	<h1 style="font-size: 2.5em;">
	  {{ .Title }}
	</h1>

  <div
  	class="mb-1 mr-3 pl-1 pr-1 rounded bg-dark"
  	style="position: absolute; top: -19px; font-size: 0.9em;"
	>
  	<span
  	  class="more"
  	  style="font-size: 1.5em;"
  	>
  	  &#43;
  	  &#43;
  	  &#43;
  	</span>
	</div>
</div>

<div class='row row-cols-1 row-cols-md-3'>
{{ range $.Site.Data.awards }}
	<div class='col mb-3'>
		<div class='card border-white h-100 bg-dark'>
			<div class='card-header px-4 bg-dark border-white'>
				<h4 class='pt-2 m-0'>
					{{ .award }}
				</h4>
				<h6 class='pt-1 pb-2 m-0'>
					{{ .award_jp }}
				</h6>

				{{ if .venue }}
					<h6>
					{{ if .venue_url }}
						<a href='{{ .venue_url }}' target='_blank'>{{ .venue }}</a>
					{{ else }}
						{{ .venue }}
					{{ end }}
					</h6>
				{{ end }}

			</div>
			<div class='card-body'>
				<ul class='card-text'>
					<li>{{ .paper.author }}</li>
					{{ if .paper.title }}
						<li>{{ .paper.title }}</li>
					{{ end }}
				</ul>
			</div>
			<div class='card-footer px-4 bg-secondary d-flex justify-content-between'>
				<span>{{ .date }}</span>
				<a href='{{ .award_url }}' target='_blank'>
					<span class="material-symbols-outlined">web</span>
					Web page
				</a>
			</div>
		</div>
	</div>
{{ end }}
</div>

</article>
{{ end }}
