{{ define "main" }}
<article class="border rounded p-3 position-relative mt-4 p-4">

<div class="header border-bottom mb-3">
	<h1 style="font-size: 2.5em;">
	  {{ .Title }}
	</h1>

  <div
  	class="mb-1 mr-3 pl-1 pr-1 rounded bg-dark"
  	style="position: absolute; top: -19px; font-size: 0.9em;"
	>
  	<span
  	  class="more"
  	  style="font-size: 1.5em;"
  	>
  	  &#43;
  	  &#43;
  	  &#43;
  	</span>
	</div>
</div>

<div class='row row-cols-1 bg-secondary pt-3'>
{{ range $.Site.Data.awards }}
	<div class='col-6 mb-4'>
		<div class='card border-white bg-dark h-100'>
			<div class='card-header border-white bg-dark px-4'>
				<div class='row'>
					<div class='col-8'>
						<h4 class='pt-2 m-0'>
							<i class="fa fa-trophy award-trophy" style="font-size:24px"></i>
							{{ .award }}
						</h4>
						<h6 class='py-2 m-0'>
							{{ .award_jp }}
						</h6>
					</div>

					<div class='col-4 pt-2 text-right'>
						<span class='p-1'>{{ .date }}</span>
						<br>
						<a href='{{ .award_url }}' target='_blank'>
							<span class="material-symbols-outlined">web</span>
							Web Page
						</a>
					</div>
				</div>
			</div>

			<div class='card-body px-4'>
				<ul class='card-text award-text'>
					<li>
						{{ if .venue }}
							{{ if .venue_url }}
								<a href='{{ .venue_url }}' target='_blank'>{{ .venue }}</a>
							{{ else }}
								{{ .venue }}
							{{ end }}
						{{ end }}
					</li>

					<li>{{ .paper.author }}</li>
					{{ if .paper.title }}
						<li>{{ .paper.title }}</li>
					{{ end }}
				</ul>

			</div>

		</div>
	</div>
{{ end }}
</div>


<hr>

<div class="header border-bottom mb-3">
	<h1 style="font-size: 2.5em;">
		Awards for Students
	</h1>
</div>

<div class='row row-cols-1 bg-secondary pt-3'>
{{ range $.Site.Data.awards_student }}
	<div class='col-6 mb-4'>
		<div class='card border-white bg-dark h-100'>
			<div class='card-header border-white bg-dark px-4'>
				<div class='row'>
					<div class='col-8'>
						<h4 class='pt-2 m-0'>
							<i class="fa fa-trophy award-trophy" style="font-size:24px"></i>
							{{ .award }}
						</h4>
						<h6 class='py-2 m-0'>
							{{ .award_jp }}
						</h6>
					</div>

					<div class='col-4 pt-2 text-right'>
						<span class='p-1'>{{ .date }}</span>
						<br>
						<a href='{{ .award_url }}' target='_blank'>
							<span class="material-symbols-outlined">web</span>
							Web Page
						</a>
					</div>
				</div>
			</div>

			<div class='card-body px-4'>
				<ul class='card-text award-text'>
					<li>
						{{ if .venue }}
							{{ if .venue_url }}
								<a href='{{ .venue_url }}' target='_blank'>{{ .venue }}</a>
							{{ else }}
								{{ .venue }}
							{{ end }}
						{{ end }}
					</li>

					<li>{{ .paper.author }}</li>
					{{ if .paper.title }}
						<li>{{ .paper.title }}</li>
					{{ end }}
				</ul>

			</div>

		</div>
	</div>
{{ end }}
</div>


</article>
{{ end }}
